# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs and database
*.log
*.sqlite3

# Python test outputs
.coverage
htmlcov/
.tox/

# PyInstaller
*.manifest
*.spec
